In [1]:
import numpy as np
import pandas as pd

In [4]:
seq2seq = pd.read_csv('predictions_vanilla.csv')
attention = pd.read_csv('predictions_attention.csv')

In [5]:
seq2seq.head()

   Unnamed: 0 English  Hindi Hindi_pred
0           0     ank    अंक        अंक
1           1    anka    अंक       अंका
2           2   ankit  अंकित      अंकित
3           3  anakon  अंकों      अनकों
4           4  ankhon  अंकों      अंखों

In [6]:
attention.head()

   Unnamed: 0 English  Hindi Hindi_pred
0           0     ank    अंक        एंक
1           1    anka    अंक       अंका
2           2   ankit  अंकित      एंकिट
3           3  anakon  अंकों     अनाकों
4           4  ankhon  अंकों      अंखों

In [7]:
seq = seq2seq.values
att = attention.values
seq[0],att[0]

(array([0, 'ank', 'अंक', 'अंक'], dtype=object),
 array([0, 'ank', 'अंक', 'एंक'], dtype=object))

In [8]:
res = []
for i in range(seq.shape[0]):
    if seq[i,3]!=att[i,3]:
        res.append((seq[i,1],seq[i,2],seq[i,3],att[i,3]))
        
len(res)

2307

In [24]:
inx = np.random.randint(0,len(res),5)
for i in inx:
    print(res[i][0],res[i][1],res[i][2],res[i][3])

sanshyon संशयों संश्यों संशयों
uchhalane उछालने उछलने उछालने
singhde सिंघाड़े सिंहड़े सिंहडे
atta आटा अटता अट्टा
bhaskar भास्कर भासकर भास्कर